<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EarthQuake and Machine Learning</title>

    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        button {
            margin: 10px;
        }
    </style>
</head>
<body>

    <h1>Welcome to the Main Page</h1>

    <button onclick="goToPage('page1.html')">EarthQuake Magnitude</button>
    <button onclick="goToPage('page2.html')">Building Damage</button>

    <script>
        function goToPage(page) {
            window.location.href = page;
        }
    </script>

</body>
</html>
